
<label for = "title">Title: 
<input id = "title" type = "text" name = "recipe[title]" size = "20" value = "<%= "#{@recipe.title}" %>" >
</label>

<label for = "author"> &nbsp Author: 
<input id = "author" type = "text" name = "recipe[author]" size = "20" value = "<%= "#{@recipe.author}" %>" >
</label>

<label for = "servings"> Number of Serivngs: 
<input for = "servings" type = "integer" name = "recipe[servings]" size = "4" value = "<%= "#{@recipe.servings}" %>" >
</label>

<label for = "preptime"> Prep Time: 
<input for = "preptime" type = "text" name = "recipe[preptime]" size = "5" value = "<%= "#{@recipe.preptime}" %>" >
</label>

<label for = "ingreidients"> Ingreidients: 
<input for = "ingreidients" type = "text" name = "recipe[ingreidients]" value = "<%= "#{@recipe.ingreidients}" %>" >
</label>

<label for = "directions"> Directions:
<textarea for = "directions" rows = "10" cols = "50" name = "recipe[directions]" value = "<%= "#{@recipe.directions}" %>" >
</textarea>
</label>
<br>
<p align ="center">
<input type = "submit" value = "Save recipe">
</p>
<br>
